<!-- <input type="text" [value]="name" />
<button (click)="myfunc()">Click Me</button>

{{name}}
<hr>
<ul>
  <li *ngFor="let country of countries">{{country.name}}</li>
</ul> -->
<div>
  <app-country [flag]="selectedCountry.flag" [name]="selectedCountry.name" [population]="selectedCountry.population"></app-country>
  <span>Country favourites:{{total}}</span>
</div>

<div>
  <ul>
    <li *ngFor="let voter of voters">{{voter.name}}</li>
  </ul>
</div>

<div class="country-container">
  <app-country *ngFor="let country of countries" [flag]="country.flag" [name]="country.name" [population]="country.population" (click)="showCountry(country)" (voting)="vote($event)"></app-country>
</div>


